# pyenv
.python-version

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
*.pyc
**__pypackages__/
**__pycache__/
**swp

# Bootstrap
/departures/static/departures/bootstrap/**/bootstrap*

# Environments
/venv/*
virtualenv/
.env
.vscode
geckodriver.exe
geckodriver.log
notes.md

# Development
db.sqlite3

# Build

# Test
**.pytest_cache
.coverage
coverage.xml
json_data.json
vrr_response.xml
