db.sqlite3
*.pyc


# pyenv
.python-version

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
**__pypackages__/
**__pycache__/
**swp

# Bootstrap
/departures/static/departures/bootstrap/**/bootstrap*

# Environments
/venv/*
.vscode
virtualenv/
/.idea/*
.env
geckodriver.exe
geckodriver.log

# Test files
**.pytest_cache
vrr_response.xml
json_data.json



