{% extends 'base.html' %}

{% block header_text %}Routes{% endblock %}
{% block table %}
    {% if route_list %}
    <div class="col-lg-6 offset-lg-3">
        <table class="table table-striped">
            <tr>
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Route Name</th>
                    <th scope="col">Stop ID</th>
                    <th scope="col">Direction</th>
                </tr>
                </thead>
                <tbody>
                {% for route in route_list %}
                <tr>
                    <td>{{ route.name }}</td>
                    <td>{{ route.stop_id }}</td>
                    <td>{{ route.direction }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </tr>
        </table>
    </div>
    {% else %}
        <p class="lead">No routes found.</p>
    {% endif %}

{% endblock %}
