{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Departures</title>
    <link href="{% static 'departures/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'departures/base.css' %}" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row my-3">
        <div class="col-lg-3 offset-lg-3">
            <h4 class="display-4">{% block header_text %}{% endblock %}</h4> 
        </div>
        <div class="col-lg-3">
            <p class="text-right display-4">{% now "H:i" %}</p>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-lg-6 offset-lg-3">
            <div class="text-center">
                <form method="{% block form_method %}{% endblock %}" action="{% block form_action %}{% endblock %}">
                    <input name="user_request"
                           id="id_station"
                           class="form-control input-lg"
                           placeholder="{% block form_placeholder %}{% endblock %}"/>
                    {% csrf_token %}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row my-3">
            {% block table %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>