{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Departures</title>
    <link href="{% static 'departures/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'departures/base.css' %}" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row my-3">
        <div class="col-lg-3 offset-lg-3">
            <h1 id="list-title" class="cover-heading lead">{% block header_text %}{% endblock %}</h1> 
        </div>
        <div class="col-lg-3">
            <p class="text-right">{% now "H:i" %}</p>
        </div>
    </div>
    <div class="container-fluid movie-app">
        <div class="row my-3">
            {% block table %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>