{% extends 'departures/base.html' %}

{% block header_text %}Departures{% endblock %}

{% block table %}
    {% if departures_list %}
    <div class="col-lg-6 offset-lg-3">
        <table class="table">
            <tr>
                <thead class="thead-light">
                <tr>
                    <th scope="col">Line</th>
                    <th scope="col">Destination</th>
                    <th scope="col">Next Arrival</th>
                    <th scope="col">{{ departures_lists }}</th>
                </tr>
                </thead>
                <tbody>
                {% for train in departures_list %}
                <tr>
                    <td>{{ train.line }}</td>
                    <td>{{ train.destination }}</td>
                    <td>{{ train.next_train_time }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </tr>
        </table>
    </div>
    {% else %}
        <p class="lead">No lists are available.</p>
    {% endif %}

{% endblock %}